<!DOCTYPE html>
<html>
	<head>
		<title>Calculator</title>
	</head>
	<body>
		<form method="POST" action="/">
			First Number:<br>
			<input type="text" name="fnum"><br>
			Second Number:<br>
			<input type="text" name="snum"><br>
			<input type="radio" name="op" value="add" checked> Add<br>
			<input type="radio" name="op" value="sub"> Subtract<br>
			<input type="radio" name="op" value="mult"> Multiply<br>
			<input type="radio" name="op" value="divide"> Divide<br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
